* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: blue;
}

.heading {
  color: red;
}

.test {
  font-size: 2rem;
  color: green;
  text-transform: uppercase;
}

#root {
  height: 100dvh;
}

.content {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  border-radius: 0.5rem;
  padding: 1rem 1rem 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 80%;
  font-size: 1rem;
  padding: 0.3rem 2%;
  margin: 1rem 0;
}

.count {
  font-size: 1.3rem;
  margin: 1rem 0 4rem;
}

.para-text {
  font-size: 1.5rem;
}

button {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
}